.control-panel {
  /* display: block; */
  width: 250px;
  background-color: rgba(30, 30, 30, 0.95);
  border: 2px solid #d59345;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

mat-form-field {
  width: 100%;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
