<div class="control-panel" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <h3>MTGA Companion</h3>

  <mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select [formControl]="collectionFormControl">
      <mat-option [value]="'TLA'">{{ 'TLA' }}</mat-option>
      <mat-option [value]="'FIN'">{{ 'FIN' }}</mat-option>
      <mat-option [value]="'EOE'">{{ 'EOE' }}</mat-option>
      <mat-option [value]="'TDM'">{{ 'TDM' }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="triggerSimulation()" class="sim-btn">🧪 Simular Pack</button>
  <button (click)="trigger2BoosterSimulation()" class="sim-btn">🧪 Simular 2 Boosters</button>
</div>
