<div class="control-panel" [formGroup]="formGroup">
  <h3>MTGA Gabriels Companion</h3>

  <mat-form-field>
    <mat-label>Collection</mat-label>
    <mat-select formControlName="currentSet">
      <mat-option [value]="'TLA'">TLA</mat-option>
      <mat-option [value]="'FIN'">FIN</mat-option>
      <mat-option [value]="'EOE'">EOE</mat-option>
      <mat-option [value]="'TDM'">TDM</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo de Draft</mat-label>
    <mat-select formControlName="draftType">
      <mat-option [value]="DraftType.Premier">Premier Draft</mat-option>
      <mat-option [value]="DraftType.Traditional">Traditional Draft</mat-option>
      <mat-option [value]="DraftType.QuickDraft">Quick Draft</mat-option>
      <mat-option [value]="DraftType.Sealed">Sealed</mat-option>
      <mat-option [value]="DraftType.TradSealed">Traditional Sealed</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Grupo de Usuarios</mat-label>
    <mat-select formControlName="userGroup">
      <mat-option [value]="UserGroup.All">Todos</mat-option>
      <mat-option [value]="UserGroup.Top">Top</mat-option>
      <mat-option [value]="UserGroup.Middle">Middle</mat-option>
      <mat-option [value]="UserGroup.Bottom">Bottom</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Colores</mat-label>
    <mat-select formControlName="colors">
      <mat-option [value]="ColorFilter.All">Todos</mat-option>
      <mat-option [value]="ColorFilter.W">Blanco (W)</mat-option>
      <mat-option [value]="ColorFilter.U">Azul (U)</mat-option>
      <mat-option [value]="ColorFilter.B">Negro (B)</mat-option>
      <mat-option [value]="ColorFilter.R">Rojo (R)</mat-option>
      <mat-option [value]="ColorFilter.G">Verde (G)</mat-option>
      <mat-option [value]="ColorFilter.WU">Blanco/Azul (WU)</mat-option>
      <mat-option [value]="ColorFilter.WB">Blanco/Negro (WB)</mat-option>
      <mat-option [value]="ColorFilter.WR">Blanco/Rojo (WR)</mat-option>
      <mat-option [value]="ColorFilter.WG">Blanco/Verde (WG)</mat-option>
      <mat-option [value]="ColorFilter.UB">Azul/Negro (UB)</mat-option>
      <mat-option [value]="ColorFilter.UR">Azul/Rojo (UR)</mat-option>
      <mat-option [value]="ColorFilter.UG">Azul/Verde (UG)</mat-option>
      <mat-option [value]="ColorFilter.BR">Negro/Rojo (BR)</mat-option>
      <mat-option [value]="ColorFilter.BG">Negro/Verde (BG)</mat-option>
      <mat-option [value]="ColorFilter.RG">Rojo/Verde (RG)</mat-option>
      <mat-option [value]="ColorFilter.WGU">Blanco/Verde/Azul (WGU)</mat-option>
      <mat-option [value]="ColorFilter.WUB">Blanco/Azul/Negro (WUB)</mat-option>
      <mat-option [value]="ColorFilter.WBR">Blanco/Negro/Rojo (WBR)</mat-option>
      <mat-option [value]="ColorFilter.WRG">Blanco/Rojo/Verde (WRG)</mat-option>
      <mat-option [value]="ColorFilter.WBG">Blanco/Negro/Verde (WBG)</mat-option>
      <mat-option [value]="ColorFilter.UBR">Azul/Negro/Rojo (UBR)</mat-option>
      <mat-option [value]="ColorFilter.URG">Azul/Rojo/Verde (URG)</mat-option>
      <mat-option [value]="ColorFilter.BRG">Negro/Rojo/Verde (BRG)</mat-option>
      <mat-option [value]="ColorFilter.WUBRG">5 Colores (WUBRG)</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="toggle">
    <mat-button-toggle-group formControlName="viewMode" aria-label="View Mode">
      <mat-button-toggle [value]="ViewMode.CardList">Lista</mat-button-toggle>
      <mat-button-toggle [value]="ViewMode.BoosterRanking">Tabla</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="buttons">
    <button (click)="triggerSimulation()" matButton="filled">Simular Pack</button>
    <button (click)="trigger2BoosterSimulation()" matButton="filled">Simular 2 Boosters</button>
  </div>
</div>
